section.course{
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 28px;
    width: 100%;
    height: 268px;
}

section.course>div.explore{
    margin: 10px auto;
    width: 89.55px;
    height: 36px;
    background-color: black;
    border-radius: 20px;

}

section.course>div.explore>a>img{
    margin-top: 7px;
    margin-left: 4px;
    width: 70px;
    height: 22px;
    

}