*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    border: 0;
    transition: all ease 300ms;
}