section.video{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
section.video>img{
    width: 100%;
    height: 117vh;
    
}
