@media (min-width : 600px) {
    section.video {
        width: fit-content;
        height: fit-content;
        overflow: hidden;
    }

    section.video>img.big {
        width: 100%;
        object-fit: cover;
        height: fit-content;

    }

    section.video>img.little {
        display: none;
        width: 100%;
        object-fit: cover;
        height: fit-content;

    }
}

@media (max-width : 599px) {
    section.video {
        width: fit-content;
        height: fit-content;
        overflow: hidden;
    }

    section.video>img.big {
        display: none;
        width: 100%;
        object-fit: cover;
        height: fit-content;

    }

    section.video>img.little {
        
        width: 100%;
        object-fit: cover;
        height: fit-content;

    }
}