section.win_on_air {
    width: 100%;
    height: 305px;
    text-align: center;
    padding-top: 40px;
}

section.win_on_air>div.exp_air {
    width: 142.5px;
    height: 36px;
    position: absolute;
    left: 41%;
    margin-top: 20px;
    border-radius: 20px;
    font-weight: 550;
    color: white;
    text-align: center;
    background-color: black;
}

section.win_on_air>div.exp_air>a {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

section.win_on_air>div.shop_air {
    width: 96.8px;
    height: 36px;
    margin-left: 52%;
    margin-top: 20px;
    border-radius: 20px;
    font-weight: 550;
    color: white;
    text-align: center;
    background-color: black;
}

section.win_on_air>div.shop_air>a {
    width: 100%;
    text-decoration: none;
    
    color: white;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}