


@import url("./css/top_top.css");
@import url("./css/top_midle.css");
@import url("./css/golfman.css");
@import url("./css/master_course.css");
@import url("./css/space.css");
@import url("./css/four_picture.css");
@import url("./css/video.css");
@import url("./css/win_on_air.css");
@import url("./css/three_jordan.css");
@import url("./css/categori.css");
@import url("./css/swipre.css");

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: Arial;
    box-sizing: border-box;
    border: 0;
    transition: all ease 300ms;
}
